{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<script src="{{=URL('static','js/search.js')}}"></script>


<!--{{if 'message' in globals():}}-->
<h3>{{=message}}</h3>
{{=form}}
<select multiple id="query1" name="query1">
    <option>
            <option>student</option>
            <option>Faculty</option>
            <option>Staff</option>
            <option>Others</option>
    </option>
    <option>Post</option>
    <option>Owns</option>
    <option>Relationship</option>
</select>
<!--
{{elif 'content' in globals():}}
-->
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
