{{extend 'layout.html'}}
<h2>{{='Search'.capitalize()}}</h2>
<script src="{{=URL('static','js/querysearch.js')}}"></script>
<select id="where" name="where" style="display:none;">
<option> </option>
    {{for item in fields:}}
        <option value="{{=item}}">{{=item}}</option>
        {{pass}}
    </select>
<div id="div1" name="div1">
    <input type="button" id="startNestdiv1" name="startNestdiv1" value="Start Nesting" onclick="startNest('div1')"/>
    <!--<input type="submit" value="search" onchange="redirect()" ><br><br></input>-->
</div>
